@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans SC", sans-serif;
  color: #1f2937;
  background: #f5f4ef;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

summary::-webkit-details-marker {
  display: none;
}
